{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Landing Page</title>
<link rel="stylesheet" href="{% static 'app/styling.css' %}">
</head>
<body>
<div class="header">
  <img src="{% static 'app/logo.png'%}" alt="Logo" class="logo">
  {% if user.is_authenticated %}
    

  <a href="javascript:{document.getElementById('logout').submit()}" class="logout-button">Logout</a>
                <form action="{% url 'account:logout' %}" id='logout' method="POST"> 
                    {% csrf_token %}
                    <input type="hidden">
                </form>

                <a href="{% url 'account:profile' %}">
  <button class="login-button">Profile</button></a>

  {% else %}
  <a href="{% url 'account:login' %}">
  <button class="login-button">Login</button></a>

  {% endif %}
</div>
<div class="container">
  <div class="content-box">
    <p class="description">Explore a world of culinary delights right at your fingertips. From your favourite local eateries to international cuisines, we've got it all. Place your orders hassle-free, track them in real-time, and indulge in a seamless food adventure. Whether it's a quick bite or a feast, we're here to make your dining dreams come true. Let's dive into a world of flavours together!"
    </p>
    {% if user.is_authenticated %}

    <a href="{% url 'app:cafe_list' %}" class="cta-button">Order Now</a>

    {% else %}

    <a href="{% url 'account:login' %}" class="cta-button">Just Login for Ordering</a>

    {% endif %}
  </div>
</div>
</body>
</html>
