{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Order Confirmation</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet" href="{% static 'app/order.css' %}">
</head>
<body>
  <div class="header">
    <a href="{% url 'app:home' %}">
    <img src="{% static 'app/logo.png' %}" alt="Logo" class="logo"></a>
    <div class="profile-container">
      {% if user.profile_image %}
      <img src="{{user.profile_image.url}}" alt="Profile Picture" class="profile-pic">
      {% else %}
      <img src="{% static 'app/profile-pic.jpg' %}" alt="Profile Picture" class="profile-pic">
  
      {% endif %}
      <button class="login-button">{{user.first_name}}</button>
    </div>
  </div>
<div class="container">
  <div class="content-box">
    <h1>Order Confirmation</h1>
    <p>Thank you for your order!</p>
    <p>Order details:</p>
    <p>Cafe: {{ order.cafe.name }}</p>

    <p>Total Price: £{{ total_price }}</p>
    <h3>The Confirmation Email has been sent</h3>
    
    <form method="post" action="{% url 'app:make_payment' order.id %}">
      {% csrf_token %}
      
      <button type="submit" class="btn btn-primary">Click to Payment</button>
  </form>
  

  </div>
</div>
</body>
</html>
