{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Payment Processing</h2>
                    <hr><br>
                    <form method="post" novalidate> 
                        {% csrf_token %}
                        
                        <div class="form-group">
                            {{ form.card_number|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.expiration_date|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.cvv|as_crispy_field }}
                        </div>
                        <button id="pay-button" class="btn btn-success btn-block">
                            <i class="fa fa-lock"></i> Click to Pay
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
