{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'account/styles.css' %}">
  <title>Login Page</title>
</head>
<body>
  <div class="background-container">
    <div class="logo-container">
      <a href="{% url 'app:home' %}">
      <img src="{% static 'account/logo.png' %}" alt="Logo" class="logo"></a>
    </div>
    <div class="login-container">
      <div class="login-box">
        <div class="face-container">
          <img src="{% static 'account/profile-pic.jpg' %}" alt="">
        </div>
        <h1 class="login-heading">Login</h1>
        <form class="login-form" method="POST">
          {% csrf_token %}
          <input type="text" placeholder="Username" name="username" class="login-input">
          <input type="password" placeholder="Password" name="password" class="login-input">
          
          <button type="submit" class="login-button border-dark">Login</button>
                 
        </form>
        <br>
        <a href="{% url 'account:register' %}"><button type="submit" class="login-button border-dark">Register</button></a>

      </div>
    </div>
  </div>
</body>
</html>
