{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'account/profile.css' %}">
    <title>My Profile</title>
</head>
<body>
    <div class="profile">
        {% if user.profile_image %}
        <img src="{{profile_image.url}}" alt="Profile Picture">
        {% else %}
        <img src="{% static 'account/profile-pic.jpg' %}" alt="Profile Picture">
        {% endif %}
        <h1>{{user.username}}</h1>
        <p>{{user.username}}</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut nisl auctor, accumsan libero a, cursus quam.</p>
        <a href="{% url 'app:home' %}">Main Page</a>
    </div>
</body>
</html>
