{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'account/register.css' %}">
  <title>Registration</title>
</head>
<body>
  <div class="background-container">
    <div class="logo-container">
      <a href="{% url 'app:home' %}">
      <img src="{% static 'account/logo.png' %}" alt="Logo" class="logo"></a>
    </div>
    <div class="login-container">
      <div class="login-box">
        <div class="face-container">
          <img src="{% static 'account/profile-pic.jpg' %}" alt="">
        </div>
        <h1 class="login-heading">Register</h1>
        <form class="login-form" method="POST">
          {% csrf_token %}
          
          <input type="text" placeholder="Name" name="first_name" class="login-input">
          <br>
          <input type="text" placeholder="Username" name="username" class="login-input">
         <br>
          <input type="email" placeholder="Email" name="email" class="login-input">
         <br>
          <input type="password" placeholder="Password" name="password" class="login-input">
          <br>
          <input type="password" placeholder="Confirm Password" name="confirm_password" class="login-input">
          <br>
          <button type="submit" class="login-button border-dark">Register</button>
        </form>
        <br>
       <a href="{% url 'account:login' %}">
        <button type="submit" class="login-button border-dark">login</button>
      </a>
      </div>
    </div>
  </div>
</body>
</html>
