body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('background-image.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    width: 150px; /* Adjust the width as needed */
    height: auto;
  }
  
  .profile-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .profile-pic {
    width: 60px; /* Adjust the width as needed */
    height: 60px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image round */
    margin-right: 10px;
    position: absolute;
    top: -20px; /* Adjust this value to properly position the profile picture */
    z-index: 2;
    margin-left: 20px;
  }
  
  .login-button {
    padding: 10px 20px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #2CB087;
    background-color: #2CB087;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    position: relative;
    z-index: 1;
    margin-top: 40px;
    margin-right: 10px;
  }
  
  .login-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: start;
  
  }
  .description{
    margin-top: -40px;
  }
  
  .content-box {
    width: 600px;
    height: 500px;
    background-color: #2CB087;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin-top: -40px;
  }
  
  
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 300px;
    margin: auto;
  }
  
  th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #000000;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }


  form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}